@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Amatic SC' 'Open Sans', sans-serif;
  background-image: linear-gradient(to right top, #8e8e18, #747617, #5c5f15, #454812, #30330e, #303817, #303e1f, #314328, #3d684a, #408f75, #37b8ab, #1be2eb); }

.error {
  box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.2); }
  .error--parrafo-body {
    border-radius: 1px; }

h1,
ul,
li,
a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration: none; }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 5px; }

blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px; }

/*   HEADER  */
.header__title {
  display: flex;
  align-items: center;
  height: 70px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #443c02 35%, #093c46 100%);
  flex-direction: wrap; }

.header-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  list-style: none;
  margin-top: 15px;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-right: 50px; }

.content-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto; }

.header-nav a {
  text-decoration: none;
  color: white;
  margin-left: 50px; }

.header-nav a:hover {
  text-decoration: none;
  color: #c7c9ca; }

.logo {
  color: #bec2c7;
  text-shadow: 2px 2px 8px #ccb804;
  font-weight: bold;
  font-size: 30px;
  white-space: nowrap;
  padding: 0; }

.header-nav .fa-bars {
  margin-top: 7px;
  color: #fff;
  display: none; }

.active-menu:active {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: cyan;
  cursor: pointer;
  font-size: 18px; }

.navbar-mob {
  display: none; }

/*media queres*/
/*  home */
@media (max-width: 768px) {
  .header__title {
    width: 100%;
    background: #032b2b; }
  .header-nav {
    display: none; }
  .navbar-mob {
    display: block;
    padding: 10px; } }

/* FOOTER*/
footer {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #443c02 35%, #093c46 100%);
  grid-column-start: 1;
  grid-column-end: -1;
  flex-direction: wrap; }

.parrafo-fotter {
  padding-top: 10px;
  text-align: center;
  color: white;
  margin: 0; }

.fa-heart {
  color: red; }

/*media queres*/
/*  home */
@media (max-width: 768px) {
  .parrafo-body, .error--parrafo-body,
  p {
    width: 100%;
    height: auto;
    font-size: 20px;
    animation: zoomIn;
    animation-duration: 2s; }
  footer {
    height: 100%; }
  footer,
  .parrafo-footer {
    width: 100%;
    background: #032b2b;
    font-size: 15px; } }

/*  BODY*/
body {
  font-family: 'Open Sans', sans-serif; }

.body__item {
  display: flex;
  height: 86.7vh; }

.content-body {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: row; }

.img-body {
  height: 100%;
  width: 100%;
  max-width: 550px;
  max-height: 550px;
  border-radius: 50px;
  animation: flipInX;
  animation-duration: 2s;
  flex-direction: wrap; }

.content-img {
  display: flex;
  align-items: center;
  width: 50%; }

.img-body {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px red; }

.error {
  display: flex; }

.parrafo-body, .error--parrafo-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  padding: 40px;
  color: #e9e3e3;
  line-height: 24px;
  animation: bounce;
  animation-duration: 2s;
  background: rgba(0, 0, 0, 0.5); }

.parrafo-body:hover, .error--parrafo-body:hover {
  box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.2); }

/* history*/
.container-history {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: stretch; }

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-flex;
  height: auto;
  margin: 1rem;
  position: relative;
  width: 250px;
  animation: zoomIn;
  animation-duration: 2s; }

.card p {
  margin-top: 8px; }

.card-1 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.card-1:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.2, 1.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }

.card-1::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.card-1:hover::after {
  opacity: 1; }

.btn-warning {
  margin-top: auto; }

/* BOX DE GUITARRISTAS*/
.carrusel {
  height: 880px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: wrap; }

.row img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 70px;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center; }

.column {
  height: 86.7vh;
  flex: 50%;
  flex-direction: row;
  animation: zoomIn;
  animation-duration: 2s; }

.column img {
  width: 100%; }

/* FORM*/
.form__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 86.7vh;
  animation: zoomIn;
  animation-duration: 2s;
  flex-direction: row; }

.form__1 input {
  height: 40px;
  width: 350px;
  padding: 10px;
  margin: 5px; }

.form__1 button {
  height: 40px;
  width: 170px;
  margin-left: 5px;
  background-color: #ffd900;
  opacity: 0.4;
  transition: 0.3s; }

.form__1 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 500;
  color: #faf3f3; }

.form__1 button:hover {
  background-color: #fde55d;
  cursor: pointer;
  opacity: 1; }

/*media queres*/
/*  home */
@media (max-width: 768px) {
  .body__item {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important; }
  .content-body {
    flex-direction: column; }
  .content-img {
    flex-direction: column; }
  .img-body {
    height: auto;
    margin: auto;
    animation: zoomIn;
    animation-duration: 2s; }
  .parrafo-body, .error--parrafo-body {
    height: auto;
    width: 100%;
    margin-top: 38px;
    flex-direction: column; }
  .parrafo-body > p, .error--parrafo-body > p {
    font-size: 10px; }
  .row {
    flex-direction: column; }
  .column {
    flex-direction: column; }
  .card .card-1 {
    flex-direction: column; }
  .carrusel {
    width: 100% !important;
    flex-direction: column; }
  .form__1 {
    width: 100%;
    flex-direction: column; } }

.flip-card {
  background-color: transparent;
  width: 550px;
  height: 550px;
  perspective: 1000px; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flip-card-front {
  color: black; }

.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  transform: rotateY(180deg); }

@media (max-width: 768px) {
  .flip-card {
    width: 90vw;
    height: 50vh; }
  .flip-card img {
    width: 90vw;
    height: 50vh; } }
