* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin background() {
    background-image: linear-gradient(to right top, #8e8e18, #747617, #5c5f15, #454812, #30330e, #303817, #303e1f, #314328, #3d684a, #408f75, #37b8ab, #1be2eb);
}

body {
    font-family: 'Amatic SC' 'Open Sans', sans-serif;
    @include background();
}

.error {
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.2);
    &--parrafo-body {
        @extend .parrafo-body;
        border-radius: 1px;
    }
}

h1,
ul,
li,
a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-decoration: none;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 5px;
}

blockquote {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}